@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("./fonts/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 600;
    src: url("./fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 900;
    src: url("./fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
    font-display: swap;
  }
}

body {
  font-family: "DM Sans";
}
